.login {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 350px;
        height: 100%;
        margin: auto;
    }

    &__logo-image {
        margin-top: -20%;
    }

    &__box {
        margin: auto;

        padding: 24px;

        text-align: center;

        background-color: #fff;
        border: 1px solid gainsboro;
        border-radius: 4px;

        &__title {
            margin: 5px 0 10px;
            padding-bottom: 10px;

            border-bottom: 1px solid gainsboro;
        }
    }

    &__button {
        display: block;
        width: 100%;
        margin-top: 20px;
        padding: 8px;

        color: #fff;
        font-weight: 600;
        font-size: px-to-rem(14px);
        text-align: center;
        text-decoration: none;

        background-color: #28a745;
        background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
        border: 1px solid rgba(27, 31, 35, 0.2);
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: #269f42;
            background-image: linear-gradient(-180deg, #2fcb53, #269f42 90%);
            background-position: -0.5em;
            border-color: rgba(27, 31, 35, 0.5);
        }
        &:active {
            background-color: #279f43;
            background-image: none;
            border-color: rgba(27, 31, 35, 0.5);
            box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
        }
    }
}
