.user {
    &__box {
        width: inherit;
        max-width: 256px;

        color: var(--primary-color);

        text-decoration: none;

        &:last-child() {
            margin-bottom: 30px;
        }
    }
    &__image {
        width: inherit;
    }
    &__username {
        word-break: break-all;
    }
}
