@import '../../assets/styles/mixins';

.profile {
    &__container {
        display: block;
        overflow-y: auto;
    }

    &__card {
        @include layout-limit;
        display: flex;
        flex-wrap: wrap;
        margin: 30px auto 40px;

        &__image-link {
            width: inherit;
            max-width: 256px;
            margin-right: 32px;
        }
        img {
            width: inherit;

            border-radius: 8px;

            transition: all 0.2s;
            transition-timing-function: ease-in;

            &:hover {
                border-radius: 12px;
                transform: scale(1.02);
                cursor: pointer;

                transition: all 0.2s;
                transition-timing-function: ease-in;
            }
        }
    }
    &__info {
        margin: 24px 20px 32px 0;
        &__email {
            margin: 0 0 10px;
        }
        &__login {
            color: #269f42;
            text-decoration: none;
            h2 {
                margin-bottom: 10px;
            }
        }
    }
}
