@import '../../../assets/styles/mixins';
@import '../../../assets/styles/functions';

.repo-list {
    &__title {
        @include layout-limit;
        margin: 0 auto 20px;

        word-break: break-all;

        cursor: pointer;
    }
    &__container {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    &__container.desc {
        flex-direction: column-reverse;
    }
}

.repo {
    &__card-wrapper {
        width: 100%;
        max-width: px-to-vw(1000px);
        margin: auto;
        padding: 0 px-to-vw(35px);

        &:nth-child(odd) {
            .repo__card {
                padding: px-to-vh(15px) px-to-vw(20px) px-to-vh(20px) px-to-vw(25px);

                background-color: var(--secondary-bg-color);
                border: 1px solid var(--tetriary-bg-color);
                border-radius: 16px;
            }
        }
    }
    &__card {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1000px;
        margin: auto;
        padding: px-to-vh(20px) px-to-vw(20px) px-to-vh(25px) px-to-vw(25px);

        &__title.repo__card__title {
            margin-bottom: 10px;

            color: var(--primary-color);
            font-size: px-to-rem(20px);
        }
        &__description {
            margin-bottom: 10px;

            font-size: px-to-rem(16px);
        }
        &__link {
            margin: 10px 0;
        }
    }
}
