@import '../../assets/styles/mixins';

.header {
    &__body {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: fit-content;
        margin-bottom: 12px;
        padding: 10px 0;

        background-color: var(--secondary-bg-color);
        box-shadow: 0 4px 6px var(--box-shadow-color);
    }

    &__wrapper {
        @include layout-limit;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    &__logo-image {
        margin-right: 15px;
    }

    &__title {
        margin: 10px 0;
    }

    &__home-link {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-right: 15px;

        color: var(--text-color);
        text-decoration: none;
        &:hover {
            opacity: 0.8;
        }
    }
}
