@import '../../assets/styles/functions';
@import '../../assets/styles/mixins';

.search {
    &__container {
        display: flex;
    }
    &__box {
        width: 100%;
        padding: 10px;

        color: var(--text-color);

        font-size: px-to-rem(14px);

        background-color: var(--secondary-bg-color);

        border: 1px solid var(--search-border-color);
        border-right: 0;
        border-radius: 6px 0 0 6px;

        &:focus {
            border-color: var(--search-border-focused-color);
            outline: 0;
        }
        &::placeholder {
            color: var(--search-border-focused-color);

            opacity: 1; /* Firefox */
        }
    }

    &__button.disabled {
        opacity: 0.6;

        pointer-events: none;
    }
    &__button {
        @include button-base;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 16px;

        font-size: px-to-rem(16px);

        border: 0;

        border-radius: 0 6px 6px 0;
        outline: 0;
    }
}
