@import 'src/assets/styles/theme/default';
@import 'src/assets/styles/mixins';
@import 'src/assets/styles/normalizer';
@import 'src/assets/styles/variables';

:root {
    --primary-font: 'Raleway', sans-serif;
}

html {
    box-sizing: border-box;

    font-size: 16px;

    user-select: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    position: relative;

    width: 100%;
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    color: var(--text-color);

    font-family: var(--primary-font);

    transition: background-color 0.3s ease;

    #root {
        height: 100%;
        overflow: hidden;

        background-color: var(--primary-bg-color);
    }

    .reverse-icon {
        @include reverse-icon-animation;
    }

    .straight-icon {
        @include straight-icon-animation;
    }

    [hidden] {
        display: none !important;
    }

    // external hyperlink style
    #{$a-external-href,
    $a-external-mail } {
        @extend %external-links;
    }
}

body.dark-mode {
    --primary-bg-color: #1f2124;
    --secondary-bg-color: #24292e;
    --tetriary-bg-color: #3a435e;
    --text-color: #fefefe;
    --info-text-color: #dbedff;
    --box-shadow-color: transparent;
    --search-border-color: #4b5d71;
    --search-border-focused-color: #607e8a;
}
