@import 'variables';

// todo
@mixin laptop {
    @media only screen and (min-width: 1366px) {
        @content;
    }
}

@mixin desktop-1080p {
    @media only screen and (min-width: 1920px) {
        @content;
    }
}

@mixin desktop-4k {
    @media only screen and (min-width: 2560px) {
        @content;
    }
}

@mixin layout-limit {
    width: 100%;
    max-width: px-to-vw(1000px);
    margin: 0 auto;
    padding: 0 px-to-vw(60px);
}

@mixin reverse-icon-animation {
    transform: rotateZ(135deg);

    transition: 0.2s;
    transition-timing-function: ease-in;
}
@mixin straight-icon-animation {
    transform: rotateZ(45deg);

    transition: 0.2s;
    transition-timing-function: ease-in;
}
