@import 'functions';
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800');

//todo
$orange: #f79428;
$turquoise: #38b2b7;
$gray: #4d4d4f;
$white: #fefefe;
$blue: #094ab2;
$green: #207245;
