@import '../variables';
@import '../mixins';

//todo
:root {
    --primary-color: #2ebc4f;
    --primary-color-hover: #28a745;
    --primary-color-active: #279f43;
    --primary-bg-color: #f6f8fa;
    --secondary-bg-color: #fefefe;
    --tetriary-bg-color: #dbedff;
    --text-color: #1d1d1a;
    --box-shadow-color: #d4d4d4;
    --info-text-color: #032f62;
    --logo-color: #111;
    --external-hyperlink: #25a7ef;
    --white-color: #fefefe;
    --search-border-color: #e9e9e9;
    --search-border-focused-color: #d0d0d0;
}
